@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/buttons.min.css";


* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


h2 {
    background-color: white;
    border-radius: 10px;
    font-size: 1.8em;
    text-align: center;
    margin: 10px 0 20px 0;
    padding: 10px;
}

h3 {
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
}

h4 {
    margin: 0px;
    text-decoration: underline solid black;
}

p {
    margin: 5px 0px;
}

header nav ul{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

header nav ul li a {
    align-items: center;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 10px 10px;
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #262626;
      border-bottom: 2px solid #262626;
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #262626;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }

/* Home Grid */

#home-page {
    background-image: linear-gradient(white, #d5c8bd); ;
}

#welcome-message{
    text-align: center;
    color: black;
    font-size: 3em;
    padding: 10px;
}

#greeting {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    color: black;
    
}

#student-picture-home {
    text-align: center;
    grid-area: picture;
}

#student-picture-home img{
    border-radius: 50%;
    border: solid 2px black;
    width: 400px;
    height: 500px;
    margin: 10px 0;
}

#home-grid h1 {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

#home-grid nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}

#home-grid nav ul {
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 5px;
    list-style-type: none;
    width: 300px;

}

#home-grid nav ul li a {
    background-image: linear-gradient(rgb(0, 81, 255), skyblue);
    color: white;
    border-radius: 5px;
    display: block;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    transition: .5s;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid white;
        border-bottom: 2px solid rgb(0, 81, 255);
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(white, rgb(0, 81, 255));
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
}

#home-grid nav ul li a:hover {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(white, rgb(0, 81, 255));
    border-radius: 5px;
}

footer {
    padding: 10px;
    margin: 10px 0;
}

/* About Grid */

#about-page h1 {
    display: inline-block;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;

}

#headline {
    display: grid;
    justify-items: center;
    border-bottom: solid 1px black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    ".     name  ."
    "quote quote quote";
}

h1#name {
    margin: 0;
    font-size: 4em;
    grid-area: name;
    text-align: center;
}

#about {
    padding: 0px;
    margin: 0px;
    grid-area: quote;
}

#about p {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;

}

#about-grid {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "headline   headline   headline"
    "picture    picture    picture" 
    "bio          bio       bio"
    "other      other      other"
}

#student-picture-about {
    text-align: center;
    grid-area: picture;
}

#student-picture-about img{
    border-radius: 50%;
    width: 300px;
    height: 350px;
}

#headline {
    grid-area: headline;
}

#student-picture {
    text-align: center;
    grid-area: picture;
}

#bio {
    grid-area: bio;
}

#bio h2 {
    text-align: center;
    margin-bottom: 10px;
}

#basic-info {
    text-align: center;
    margin-top: 0px;
}

#bio h2, #basic-info, #basic-summary {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

#basic-summary {
    text-align: center;
}

#student-other {
    grid-area: other;
}

#experience-grid {
    text-align: center;
}

#experience-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "education      education"
    "skill          skills"
}

#experience-education {
    grid-area: education;
}

#experience-skills {
    grid-area: skill;
}

#skills-grid {
    padding-bottom: 20px;
}

#experience-hobbies {
    grid-area: hobbies;
}

#education-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "school1   school2"
}

#te {
    grid-area: school1;
}

#stony {
    grid-area: school2;
}


#experience-skill {
    grid-area: skill;
}

/* Work Experiences */

#work-page {
    background-color: #d5c8bd;
}

#experience-grid {
    display: block;
}

#student-work h2 {
    margin-bottom: 10px;
}

#work-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "work1"
    "work2"
    "work3"
}

#work-grid h3 {
    margin-top: 0px;
}

#work-grid ul {
    list-style-type: none;
    padding: 0px;
}

#work1, #work2, #work3 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

/* Projects */




#teprojects-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "catalog"
    "web";
}

#catalog {
    grid-area: catalog;
}

#web {
    grid-area: web;
}

#experience-projects h3 {
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title .";
}

#teprojects-grid h3 a {
    grid-area: title;
    justify-items: center;
    align-items: center;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #262626;
      border-bottom: 2px solid #262626;
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #262626;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
}

#teprojects-grid p {
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}

/* Hobbies */

#experience-hobbies h3 {
    text-align: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title .";
}

#hobbies-grid h3 a {
    grid-area: title;
    align-items: center;
    justify-items: center;
    width: 150px;
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #262626;
      border-bottom: 2px solid #262626;
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #262626;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
}

#basketball{
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "image video";
}

#basketball-img img{
    grid-area: image;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#basketball-video {
    grid-area: video;
    padding: 10px;
    align-self: center;
    width: 270px;
}

#basketball-video video {
    width: stretch;
    border-radius: 10px;
}

#football, #gaming, #sleeping, #eating {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "image1 image2";
}

#football-pic1 img{
    grid-area: image1;
    padding: 10px;
    width: 600px;
}

#football-pic2 img{
    grid-area: image1;
    padding: 10px;
    width: 400px;
}

#gaming-pic1 img {
    grid-area: image1;
    padding: 10px;
    width: 500px;
}

#gaming-pic2 img {
    grid-area: image2;
    padding: 10px;
    width: 500px;
}

#sleeping-pic1 img {
    grid-area: image1;
    padding: 10px;
    width: 500px;
}

#sleeping-pic2 img {
    grid-area: image2;
    padding: 10px;
    width: 500px;
}

#eating-pic1 img {
    grid-area: image1;
    padding: 10px;
    width: 500px;
}

#eating-pic2 img {
    grid-area: image2;
    padding: 10px;
    width: 500px;
}


@media (max-width: 1024px) {
    #main-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "headline"
        "picture"
        "bio"
        "other"
    }

    header nav ul {
        display: grid;
        padding: 0;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "home about experience projects"
    }

    #home-tab {
        grid-area: home;
    }

    #about-tab {
        grid-area: about;
    }

    #experiences-tab {
        grid-area: experience;
    }

    #projects-tab {
        grid-area: projects;
    }

    #hobbies-tab {
        grid-area: hobbies;
    }

    header nav ul li {
        margin: 5px 0px;
        padding: 5px;
    }

    header nav ul li a {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 5px;
        flex-wrap: wrap;
    }

    #home-tab, #about-tab, #experiences-tab, #projects-tab, #hobbies-tab, #linkedin-link, #github-link {
        margin: 1px 1px;
    }

    #headline {
        display: grid;
        border-bottom: solid 1px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-template-areas: 
        "name name name"
        "quote quote quote";
    }

    #work-grid {
        display: grid;
        row-gap: 20px;
        column-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "work1"
        "work2"
        "work3"
    }

    #experience-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "basic-info"
        "experience-education"
        "experience-skills";
    }

    #projects-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "catalog"
        "web"
    }

    #education-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "school1"
        "school2"
    }

    #basketball {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "image"
        "video";
    }

    #football, #gaming, #sleeping, #eating {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "image1"
        "image2";
    }

    #football-pic1 img{
        grid-area: image1;
        padding: 10px;
        width: 500px;
    }
    
    #football-pic2 img{
        grid-area: image1;
        padding: 10px;
        width: 500px;
    }
    
    #gaming-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 500px;
    }
    
    #gaming-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 500px;
    }
    
    #sleeping-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 500px;
    }
    
    #sleeping-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 500px;
    }
    
    #eating-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 500px;
    }
    
    #eating-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 500px;
    }

}

@media (max-width: 450px) {

    #main-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "headline"
        "picture"
        "bio"
        "other"
    }

    header nav ul {
        display: grid;
        padding: 0;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "home about experience projects"
    }

    #home-tab {
        grid-area: home;
    }

    #about-tab {
        grid-area: about;
    }

    #experiences-tab {
        grid-area: experience;
    }

    #projects-tab {
        grid-area: projects;
    }

    #hobbies-tab {
        grid-area: hobbies;
    }

    header nav ul li {
        margin: 5px 0px;
        padding: 5px;
    }

    header nav ul li a {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 5px;
        flex-wrap: wrap;
    }

    #home-tab, #about-tab, #experiences-tab, #projects-tab, #hobbies-tab, #linkedin-link, #github-link {
        margin: 1px 1px;
    }

    #headline {
        display: grid;
        border-bottom: solid 1px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-template-areas: 
        "name name name"
        "quote quote quote";
    }

    #work-grid {
        display: grid;
        row-gap: 20px;
        column-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "work1"
        "work2"
        "work3"
    }

    #experience-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "basic-info"
        "experience-education"
        "experience-skills";
    }

    #projects-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "catalog"
        "web"
    }

    #education-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "school1"
        "school2"
    }

    #basketball {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "image"
        "video";
    }

    #football, #gaming, #sleeping, #eating {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "image1"
        "image2";
    }

    #football-pic1 img{
        grid-area: image1;
        padding: 10px;
        width: 300px;
    }
    
    #football-pic2 img{
        grid-area: image1;
        padding: 10px;
        width: 300px;
    }
    
    #gaming-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 300px;
    }
    
    #gaming-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 300px;
    }
    
    #sleeping-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 300px;
    }
    
    #sleeping-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 300px;
    }
    
    #eating-pic1 img {
        grid-area: image1;
        padding: 10px;
        width: 300px;
    }
    
    #eating-pic2 img {
        grid-area: image2;
        padding: 10px;
        width: 300px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0 5px
}

footer img:hover {
    transform: translateY(-10px);
}

footer button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    position: relative;
    display: block;
    text-decoration: none;
    color: #262626;
    transition: .5s;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      background-color: #262626;
      cursor: pointer;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
}
 