* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header nav ul{
    padding: 0;
    margin-bottom: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li a {
    color: blue;
}

.email-info {
    display: none;
}

header nav ul li a:hover {
    cursor: pointer;
    color: red;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(192, 192, 192, 0.1);
}

#headline {
    display: grid;
    border-bottom: solid 1px black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    ".     name  bottom"
    "quote quote quote";
}

h1 {
    font-size: 2em;
}

h1#name {
    margin: 0;
    font-size: 4em;
    grid-area: name;
    text-align: center;
}

#about {
    padding: 0px;
    margin: 0px;
    grid-area: quote;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
    text-align: center;
    margin: 10px 0px;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
    margin: 5px 0px;
}

h4 {
    margin: 0px;
}

p {
    margin: 5px 0px;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
    width: 300px;
    height: 350px;
}

#main-grid {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "headline   headline   headline"
    ".          picture    ."
    "work       work       work"
    "experience experience experience"
}

#headline {
    grid-area: headline;
}

#student-picture {
    text-align: center;
    grid-area: picture;
}

#student-work {
    grid-area: work;
}

#work-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "work1 work1"
    "work2 work2"
    "work3 work3"
    "work4 work4"
}

#experience-grid {
    grid-area: experience;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "education      education "
    "project        project"
    "skill          hobbies"
}

#experience-education {
    grid-area: education;
}

#education-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "school1   school2"
}

#te {
    grid-area: school1;
}

#stony {
    grid-area: school2;
}

#experience-projects {
    grid-area: project;
}

#projects-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "catalog   web"
}

#catalog {
    grid-area: catalog;
}

#web {
    grid-area: web;
}

#experience-skill {
    grid-area: skill;
}

#experience-hobbies {
    grid-area: hobbies;
}

#hobbies-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;    
    grid-template-areas:
    "hobby1       hobbies-image"
    "hobby-video  ."
}

#hobby1 {
    grid-area: hobby1;
}

#hobbies-grid #hobby1 ul{
    list-style-type: none;
    padding: 0;
}

#hobbies-grid ul li {
    margin-bottom: 5px;
    text-align: start;
}

#hobbies-grid ul li a {
    color: blue;
    text-decoration: none;
    margin-bottom: 5px;

}

#hobbies-grid ul li a:hover {
    cursor: pointer;
    color: red;
}

#hobbies-grid img {
    grid-area: hobbies-image;
    width: 200px;
}

#hobby-video {
    grid-area: hobby-video;
}

@media (max-width: 1024px) {
    #main-grid {
        row-gap: 20px;
        column-gap: 35px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "headline   headline"
        "picture    picture"
        "work       work"
        "experience experience"
        "experience experience"
    }

    #headline {
        display: grid;
        border-bottom: solid 1px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-template-areas: 
        ". name name"
        "quote quote quote";
    }

    #work-grid {
        display: grid;
        row-gap: 20px;
        column-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "work1"
        "work2"
        "work3"
    
    }

    #experience-grid {
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas:
        "education  education"
        "project    project"
        "skill      hobbies";
    }

    #projects-grid {
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas:
        "catalog     web"
    }

    #education-grid {
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas:
        "school1     school2"
    }

    #hobbies-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "hobby1"      
        "hobbies-image"
        "hobby-video"
    }

    #hobbies-grid img {
        border-radius: 10px;
        width: 200px;
    }

}

@media (max-width: 450px) {

    #main-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "headline"
        "picture"
        "work"
        "experience"
    }

    #headline {
        display: grid;
        border-bottom: solid 1px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-template-areas: 
        "name name name"
        "quote quote quote";
    }

    #work-grid {
        display: grid;
        row-gap: 20px;
        column-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "work1"
        "work2"
        "work3"
    
    }

    #experience-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "education"
        "project"
        "skill"
        "hobbies";
    }

    #projects-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "catalog"
        "web"
    }

    #education-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "school1"
        "school2"
    }

    #hobbies-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "hobby1"       
        "hobbies-image"
        "hobby-video"
    }
}

footer {
    display: flex;
    justify-content: space-between;
}